$preto : #2C2E3E ;
$branco : #FAF8FA ;
$cinza : #DFD8FA ;
$azul-medio : #1D2C6C ;
$azul-dark : #142049 ;
$verde : #4AD295;

$font-ibm: 'IBM Plex Mono', monospace;
$font-2p: 'Press Start 2P', cursive;
$font-clas: 'Playfair Display SC', serif;

